{% block content %}

        <div class="row">

             <div class="span8 offset2">
               
                <h2>Welcome to dataFx</h2>
                <p>The application is currently under development.</p>
                <h3>Important links</h3>

                <ul>
                    <li><a href="https://bitbucket.org/fairfax/datawrapper/">Bitbucket datawrapper repo</a></li>
                    <li><a href="https://bitbucket.org/fairfax/datawrapper/issue/">Issue &amp; Bug tracker</a></li>
                    <li><a href="https://bitbucket.org/fairfax/datawrapper/wiki/">Wiki</a></li>
                </ul>

                <h3>Contacts</h3>
                <h4>Project sponsor</h4>
                <ul>
                    <li>Matt Martel</li>
                </ul>
                <h4>Developers</h4>
                <ul>
                    <li><a href="mailto:pborbely@fairfaxmedia.com.au">Peter Borbely</a></li>
                    <li><a href="mailto:mmoncrief@fairfaxmedia.com.au">Marc Moncrief</a></li>
                </ul>

            </div>
        </div>



{% endblock %}
